.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
   }
   body{
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    
   }
   .nav p{
      font-weight: bold;
      font-size: 32px;
     text-align: center;
   }
.orange{color: orange;
}
.skyblue{
  color: skyblue;
}
.paste{
  color: #05D4DF;
}
.purple{
  color: #5D58EF;
}
.buttonnave button{
  color: white;
  background-color: orange;
  border: none;
  border-radius: 12px;
  padding: 10px 60.5px;
}
.flex{
  display: flex;
}
.icon{
  gap: 11px;

}
.icon2{
  display: none;
}
.flex ul{
  list-style: none;
  display: flex;
  gap: 32px;
}
.nav{
  margin: 10px 140px;
  justify-content:space-between;
}
.nav img{
  height: 70px;
  width: 62px;
}
hr{
  display: none;
}
.section1{
  margin-left: 140px;
  margin-right: 140px;
  justify-content: space-between;
  
}

.section1title{
  font-size: 56px;
  font-weight: bold;
}
.span1{
  color: orange;
  display: block;
}
.span2{
  display: block;
}
.span3{
  color:skyblue;
}
.section1description{
  font-size: 20px;
}
.section1btn{
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 10px 47px;
  border-radius: 12px;
  border: none;
}
.section1 img{
  width: 470px;
  height: 575px;
}
.section2body{
  background-image: url(/assets/bg.png);
 
}
.section2{
  margin-top: 60px;
  margin-left: 140px;
  margin-right: 140px;
  }
.section2 h2{
  text-align: center;
  margin-bottom: 60px;
}
.section2cards{
  gap: 28px;
}
.card1,.card2,.card3{
  flex-direction: column;
  height: 477px;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  border-radius:19px;
  box-shadow: inset 0 0 28.3px rgba(0, 0, 0, 0.05) ;
}
.cardtitle{
  font-weight: bold;
  font-size: 25px;

}
.carddescription{
  font-weight: 120;
  font-size: 12px;
  text-align: center;
}.cardbottom{
  font-weight: 600;
  font-size: 12px;
}
.cardbottom1{
  color:#64C8FF ;
}
.cardbottom2{
color:#F0AA00 ;
}
.cardbottom3{
color: #8700FF;
}
.card1{
  background: linear-gradient(to bottom,#DEF5FF,white);
}
.card2{
  background: linear-gradient(to bottom,#FFF4DC,white);
}
.card3{
  background: linear-gradient(to bottom,#F2E8FF,white);

}
.section2btns{
  margin-top: 85px;
  display: block;
  text-align: center;
 
}
.section2btn1{
  padding: 12px;
  background-color: orange;
  color: white;
  border: navajowhite;
  border-radius: 60%;
  font-size:18px ;
  font-weight: bold;
}
.section2btn2{
  padding: 12px;
  background-color: orange;
  color: white;
  border: navajowhite;
  border-radius: 60%;
  font-size:18px ;
  font-weight: bold;
}
.section3body{
  background:  url(assets/bg.png),linear-gradient(to top,#F3DFBA,white);
  
}
.section3{
  margin-left: 140px;
  margin-right: 140px;
}
.section3title{
  text-align: center;
  font-weight: bold;
  font-size: 46px;
}
.section3story{
  /* max-width: 1400px; */
 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.leftdiv{
  height: 631px;
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
}


.leftdiv img{
  
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.underbtn{
  margin-top: -5px;
  background-color: white;
  border-bottom-left-radius:  16px;
  border-bottom-right-radius: 16px;
}

.story1title{
  font-size: 24px;
  font-weight: bold;
  margin-left: 38px;
}
.story1description{
  font-size: 12px;
  font-weight: 200;
  margin-left:38px ;
  margin-right: 15px;
  padding-bottom: 34px;
}
.story1btn{
  border: none;
  background-color: #3CD8E8;
  font-size: 14px;
  color: white;
  border-radius: 48px;
  padding: 14px 19px;
  position: relative;
  margin-left: 38px;
  top: -23px ; 
 }
 .rightdiv{

  width: 100%;
  max-width: 650px;
  /* height: 620px; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.story2 {
display: flex;
flex-direction: column;

}
.story2 > .story2image,
.story2 > .story2underbtn{
  max-width: 291px;
  width: 100%;
}

.story2 img{
 border-top-left-radius: 16px;
 border-top-right-radius: 16px;
}
.story2btn{
  width: 150px;
  position: relative;
  left: 30px;
  top: -22px;
  color: white;
  font-size: 12px;
  background-color: #95B226;
  border: none;
  border-radius: 48px; 
  padding: 5px 5px;
}
.story2title{
  font-weight: bold;
  font-size: 17px;
  background-color: white;
  padding: 19px 38px 28px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.story2underbtn{
  margin-top: -50px;
}
.story3 {
  display: flex;
  flex-direction: column;
  
  }
  .story3 > .story3image,
  .story3 > .story3underbtn{
      width: 291px;
  }
  
  .story3 img{
     border-top-left-radius: 16px;
     border-top-right-radius: 16px;
  }
  .story3btn{
      width: 150px;
      position: relative;
      left: 30px;
      top: -22px;
      color: white;
      font-size: 12px;
      background-color: #b226a6;
      border: none;
      border-radius: 48px; 
      padding: 5px 5px;
  }
  .story3title{
      font-weight: bold;
      font-size: 17px;
      background-color: white;
      padding: 19px 38px 28px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
  }
  .story3underbtn{
      margin-top: -50px;
  }.story4 {
      display: flex;
      flex-direction: column;
      
      }
      .story4 > .story4image,
      .story4 > .story4underbtn{
          width: 291px;
      }
      
      .story4 img{
         border-top-left-radius: 16px;
         border-top-right-radius: 16px;
      }
      .story4btn{
          width: 150px;
          position: relative;
          left: 30px;
          top: -22px;
          color: white;
          font-size: 12px;
          background-color: #262bb2;
          border: none;
          border-radius: 48px; 
          padding: 5px 5px;
      }
      .story4title{
          font-weight: bold;
          font-size: 17px;
          background-color: white;
          padding: 19px 38px 28px;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
      }
      .story4underbtn{
          margin-top: -50px;
      }
      .story5 {
          display: flex;
          flex-direction: column;
          
          }
          .story5 > .story5image,
          .story5 > .story5underbtn{
              width: 291px;
          }
          
          .story5 img{
             border-top-left-radius: 16px;
             border-top-right-radius: 16px;
          }
          .story5btn{
              width: 150px;
              position: relative;
              left: 30px;
              top: -22px;
              color: white;
              font-size: 12px;
              background-color: #b29f26;
              border: none;
              border-radius: 48px; 
              padding: 5px 5px;
          }
          .story5title{
              font-weight: bold;
              font-size: 17px;
              background-color: white;
              padding: 19px 38px 28px;
              border-bottom-left-radius: 16px;
              border-bottom-right-radius: 16px;
          }
          .story5underbtn{
              margin-top: -50px;
          }
          .section3bottombtn button

          {position: relative;
          left: calc(50% - 140px);
          font-size: 20px;
          font-weight: bold;           
          color:white;
          background-color: black;
          border: none;
          border-radius: 12px;
          padding: 10px 60px;
          margin:80px auto 50px;
          text-align: center;

          }
          footer{
            background-color: #01ACFD;
          } 
          .footeritems{
           justify-content: space-between;
            padding: 123px 228px 174px 140px;

          }
          .item1title{
            color: white;
            font-size: 30px;
            font-weight: bold;
          }
          .icon-title{
            gap: 15px;
          }
          .icon-title img{
            width: 62px;
            height: 90px;
          }
          .item1description{
            color: white;
            font-size: 20px;
            font-weight:100px;
          }
          .item2title{
            color: white;
          }
          .footeritem2
          ul{
            margin-top: 60px;
            margin-left: -35px;
            list-style: none;
             flex-direction: column;
             }
               .footeritem2 a{
                font-size: 20px;
                font-weight: 100px;
                text-decoration: none;
                color: white;
               }.footeritem2 h3{
                font-size: 28px;
                font-weight: bold;
               }
               .item3title{
                color: white;
                font-size: 26px;
                font-weight: bold;
               }
@media (max-width:768px){
  .disnone{
    display: none;
  }
  .nav{
    margin: 12px 16px;
  }
  .icon2{
    display: inline;
    font-size: 35px;
    margin-top: 20px;
  }
  hr{
    display: block;
    width: 100%;
    border: .5px solid orange;
  }
.section1{
  flex-direction: column-reverse;
  margin: 0 auto;
}
.section1right{
  margin: 0 auto;
}
.section1title{
  font-size: 32px;
   text-align: center;
}

.section1description{
  font-size: 20px;
  text-align: center;
  margin: 0 100px 0;
}
.section1btn{
  font-size: 16px;
  display: block;
  margin: 10px auto;

}
.section2{
  margin-left: 10px;
  margin-right: 10px;
}
.section2cards{
  flex-direction: column;
}
.section1title{
  font-size: 26px;

}
.card1,.card2,.card3{
  width: 100%;
  margin-bottom: 12px;
}
.cardtitle{
  text-align: center;
}
.section2btns{
  display: none;
}
.section3{
  margin: auto;
}
.section3story{
 
  margin: 0 auto;
  position: relative;
  left: 80px;
 
}
.rightdiv>.story2,
.rightdiv>.story3,
.rightdiv>.story4,
.rightdiv>.story5{
 width: 100%;
}


.rightdiv{
  /* width: 358px; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 5px;
    margin-left: -120px;
  
 
}
 .section3bottombtn button{
  position: relative;
  left: calc(50% - 90px);
 }
 .footeritems{
  flex-direction: column;
   padding: 12px 5px 25px 5px;
 }
.item1description{
  font-size: 25px;
  

}
.footeritem2 a{
  font-size: 25px;}
}

